@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

body {
    text-align: left;
}

header {
    /* padding: 5px; */
}

h1 {
    font-size: 2.5rem;
    line-height: 3rem;;
    color: darkslategray;
    padding: 20px;
    padding-top: 40px;
}

h2 {
    font-size: 1.8rem;
    line-height: 2rem;
    color: darkslategray;
}

h3 {
    font-size: 1.25rem;
    line-height: 2rem;
    color: darkslategray;
    text-align: center;
}

p {
    font-size: 1.1rem;
    line-height: 1.7rem;
}

nav {
    background-color: lightslategray;
    font-size: 1.5rem;
    line-height: 1.7rem;
    padding: 20px;
    text-align: right;
}

nav a {
    border-left: 2px solid white;
    color: white;   
    text-decoration: none;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
}

a {
    color: lightslategray;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

main {
}

div {
    padding: 0px 20px 20px 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: gray;
    font-size: 1rem;
    line-height: 1.5rem;
    font-style: oblique;
    padding-top: 20px;
}

footer {
    background-color:lightslategray;
    padding: 20px;
    text-align: left;
    color: white;
}

footer a {
    border-left: 2px solid white;
    color: white;   
    text-decoration: none;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
}

.centered {
    text-align: center;
    padding-top: 30px;
}

.bar {
    background-color: lightslategray;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}    

.negmargin {
    margin: 0 -20px;
}

.projectimage {
    /* padding-bottom: 10px; */

}

.imagewrapper {
    padding: 20px;
}

.width {
    width: 93%;
    padding: 20px;
}


@media (min-width:200px) {
    .projectimage {
        width: 75%;
    }
    .container {
    padding: 0px;
    }
    nav {
        font-size: 1.25rem;
        
    }  
    h1 {
        font-size: 2.2rem;
        line-height: 2.5rem;
    }
}

@media (min-width:900px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px;
    }
   .width {
    width: 50%;
    }
   .projectimage {
    width: 100%;
    }
}

form {
    margin: auto;
    width: 90%;
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
}

.form-item label {
    flex-basis: 150px;
    font-size: 1.2rem;
    color: darkslategray;
}

.form-item input,
.form-item textarea {
    flex-basis: 50%;
    border: 2px solid darkslategray;
    color: darkslategray;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid lightslategray;
}

.form-item input,
.form-item textarea,
.form-item button {
    border: 2px solid darkslategray;
    background-color: white;
    padding: 5px;
}

.form-item button:hover {
    border: 2px solid lightslategray;
    background-color: lightslategray;
    color: white;
}

.form-item button {
    width: 100px;
    font-size: 1.2rem;
    color: darkslategray
    
}